<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>This is the chair page</title>
    <link rel="stylesheet" href="css/chairpage.css">
</head>

<body>
    <h1 class="whitetext">This is a chair page</h1>


    <div class="flexcontainer">

        <div class="container blue circleBehind">
            <a>HOME</a>
            <a>ARTICLES</a>
            <a>PORTFOLIO</a>
            <a>ABOUT</a>
            <a>CONTACT</a>
        </div>

        <div class="content">
            <h2 class="whitetext">This is the content area</h2>

            <article class="navbuttons">
                <div class="flexrow">

                    <div class="navbuttonitem">
                        <a href="#"><img src="css/images/databutton.png" class="imagebuttons"></a>
                        <p>Data</p>
                    </div>

                    <div class="navbuttonitem">
                        <a href="#"><img src="css/images/sittingbutton.png" class="imagebuttons"></a>
                        <p>Features</p>
                    </div>

                    <div class="navbuttonitem">
                        <a href="#"><img src="css/images/databutton.png" class="imagebuttons"></a>
                        <p>Feedback</p>
                    </div>

                </div>

                <div class="flexrow bottomrow">

                    <div class="navbuttonitem">
                        <a href="#"> <img src="css/images/databutton.png" class="imagebuttons"></a>
                        <p>Settings</p>
                    </div>

                    <div class="navbuttonitem">
                        <a href="#"><img src="css/images/sittingbutton.png" class="imagebuttons"></a>
                        <p>Logout</p>
                    </div>
                    
                </div>
            </article>

        </div>


    </div>


    <footer>
        <h1 class="whitetext">This is the footer</h1>
    </footer>

</body>

</html>