<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Data</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
        crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="whitetext">This is the Data page</h1>

    <div class="flexcontainer">

        <div class="container blue circleBehind"></div>

        <div class="content">
            <h1>Sitting Data</h1>
            <div class="flexcontainer data">
                
                <div style="height: 350px; width: 350px;" class="daily">
                    <h1>TODAY</h1>
                    <canvas id="myDoughnutChart" width="200" height="200"></canvas>
                </div>
                <br>
                
                    <div>
                        <h1>Weekly</h1>
                        <div class="flexcontainer">
                            <div style="height: 350px; width: 350px;">
                        
                                <canvas id="myChart" width="200" height="200"></canvas>
                            </div>
        
                            <div style="height: 350px; width: 350px;">
                                <canvas id="myWeeklyDoughnutChart" width="200" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                    
                
            </div>
                <div class="monthly">
                    <canvas id="myMonthlyDoughnutChart" width="200" height="200"></canvas>
                </div>
            
        </div>

    </div>

    <footer>
        <h1 class="whitetext">Footer</h1>
    </footer>


    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/data.js"></script>

</body>

</html>