<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Data</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <h1>This is the Data page</h1>
        
        <div class="output">
            <p>This is your name</p>
            <p>This is your sitting duration</p>
            <p>This is your Posture Data</p>
            <p>This is your battery life</p>
            <p>This is your chair name</p>
            <p>This is what you can do to improve</p>
        </div>

        <script src="./js/jquery-3.5.0.min.js"></script>
        <script src="./js/data.js"></script>
        
    </body>
</html>