<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Features</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/features.css">
</head>

<body>
    <h1 class="whitetext">This is the Features Page</h1>

    <div class="flexcontainer">
        <div class="container blue circleBehind"></div>
        <div class="content">
            <h1>DI-Smart Chair Features</h1>

            <div class="flexcontainer spacearound">
                <div class="chairplaceholder">
                    <img src="/css/images/chair.png" alt="chair">
                </div>

                <div>
                    <div class="settingsbox">
                        <h2>Settings</h2>
                        <p  class="status">Messager Status</p>
                        <p class="strength">Current Strength</p>
                        <button class="listenbutton notlistening" id="btn" value="Start" onclick="to_start()">
                            Start Listening
                        </button>
                    </div>

                    <div class="notice">
                        <h1></h1>
                    </div>

                    <p>Warning: Leaving "Listening for changes"<br>ON may cause inaccuracy and<br>might damage your device.<br>Please turn off when not in use</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h1 class="whitetext">Footer</h1>
    </footer>

    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/features.js"></script>
    <script src="/js/nav.js"></script>

</body>

</html>