

.imagebuttons{
    height: 200px;
    width: 200px;
    
}

.flexrow{
    display: flex;
    justify-content: space-around;
}

.navbuttonitem{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.bottomrow{
    padding-left: 200px;
    padding-right: 200px;
}

.navbuttonitem p{
    font-size: 20px;
    margin: 0;
}