/*/*navigation*/*/

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 0em;
}

div.container a
{
    color: white;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    align-content: center;
}

div.circleBehind a:before, div.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.blue{
    background-color: darkblue;
    height: 250px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flexcontainer{
    display: flex;
}

/*Content Body*/
.content{
    height: 800px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url(images/contentbackground.gif);
    background-color: pink;
}

.content h1{
    text-align: center;
}

/*Body and others*/
body{
    background-image: url(images/chairpagebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.whitetext{
    color: white;
    opacity: 100%;
}